In [1]:
# Se cargan las librerías y tabla de datos
import pandas as pd
import plotly.express as px
from plotly import graph_objects as go
import os
# os.getcwd()
os.chdir('/home/clautc/Proyectos_/Estudios/Estudio_crianzas_Chile')
from plotly.subplots import make_subplots
ruta = 'data/registros_estadisticos/df_geograf.csv'
df = pd.read_csv(ruta)

In [2]:
df.groupby(['ano_nac', 'est_civ_madre'])['grupo_etario_madre'].count()

ano_nac  est_civ_madre
2001     1                124581
         2                121535
2002     1                124784
         2                114197
2003     1                126118
         2                108368
2004     1                128867
         2                101485
2005     1                134912
         2                 95919
2006     1                141540
         2                 89843
2007     1                151907
         2                 88662
2008     1                160485
         2                 86096
2009     1                169888
         2                 82352
2010     1                171585
         2                 79058
2011     1                171293
         2                 76017
         9                    48
2012     1                171232
         2                 72403
2013     1                172002
         2                 70003
2014     1                180456
         2                 70541
2015     1                175020
         2                 69645
         6                     5
2016     1                167982
         2                 63178
         3                     5
         4                    63
         6                   510
         9                    11
2017     1                160728
         2                 57748
         4                    57
         6                   641
         9                    12
2018     1                164707
         2                 55926
         3                     3
         4                    90
         6                   998
         9                     7
2019     1                156116
         2                 52375
         4                   145
         5                     7
         6                  1535
         9                    10
Name: grupo_etario_madre, dtype: int64

In [3]:
estado_civil_madre= {
    2: 'Casada',
    1: 'Soltera',
    3: 'Otros (viuda, ignorada)',
    9: 'Otros (viuda, ignorada)'
}
estado_civil_color= {
    1: '#9A208C',
    2: '#E11299',
    3: '#00235B',
    9: '#E21818'
}
df['ecm'] = df['est_civ_madre'].map(lambda x: estado_civil_madre.get(x))
df['anio'] = pd.to_datetime(df.ano_nac, format='%Y')
df['anio'] = df.anio.dt.year

In [4]:
dfn = df.value_counts(subset=['anio', 'ecm']).reset_index(name='conteo').sort_values('anio').reset_index(drop=True)
dfn

    anio                      ecm  conteo
0   2001                   Casada  121535
1   2001                  Soltera  124581
2   2002                   Casada  114197
3   2002                  Soltera  124784
4   2003                   Casada  108368
5   2003                  Soltera  126118
6   2004                   Casada  101485
7   2004                  Soltera  128867
8   2005                   Casada   95919
9   2005                  Soltera  134912
10  2006                   Casada   89843
11  2006                  Soltera  141540
12  2007                  Soltera  151907
13  2007                   Casada   88662
14  2008                   Casada   86096
15  2008                  Soltera  160485
16  2009                  Soltera  169888
17  2009                   Casada   82352
18  2010                   Casada   79058
19  2010                  Soltera  171585
20  2011                  Soltera  171293
21  2011  Otros (viuda, ignorada)      48
22  2011                   Casada   76017
23  2012                   Casada   72403
24  2012                  Soltera  171232
25  2013                   Casada   70003
26  2013                  Soltera  172002
27  2014                   Casada   70541
28  2014                  Soltera  180456
29  2015                   Casada   69645
30  2015                  Soltera  175020
31  2016                  Soltera  167982
32  2016                   Casada   63178
33  2016  Otros (viuda, ignorada)      16
34  2017                  Soltera  160728
35  2017                   Casada   57748
36  2017  Otros (viuda, ignorada)      12
37  2018                  Soltera  164707
38  2018                   Casada   55926
39  2018  Otros (viuda, ignorada)      10
40  2019                  Soltera  156116
41  2019                   Casada   52375
42  2019  Otros (viuda, ignorada)      10

In [6]:
fig = go.Figure()
for c in dfn.ecm.unique().tolist():
    fig.add_trace(
        go.Scatter(
            x = dfn.loc[dfn.ecm == c, 'anio'],
            y = dfn.loc[dfn.ecm == c, 'conteo'],
            mode='lines',
            name= c
        )
    )
fig.update_layout(template='none')
fig.update_yaxes(title='Número de nacimientos')
fig.update_xaxes(title='Periodo de estudio', dtick='M12',
                 # ticklabelmode='period'
                 )
fig.write_image('resultados/img/01_estadocivilmadre.jpeg')
fig.show()